<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar>
            <img mat-card-avatar src="https://picsum.photos/200/300/?random" alt="Photo of a Shiba Inu">
        </div>
        <a [routerLink]="['/user-profile', mySelectedTweet.usuario.id]">@{{mySelectedTweet.usuario.handle}}</a> 
        <mat-card-subtitle>{{mySelectedTweet.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{mySelectedTweet.texto}}
        </p>
    </mat-card-content>
</mat-card>