 <mat-card class="card">
     
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Escribe tu Tweet" [(ngModel)]="miTweet.texto">
  </textarea>
          </mat-form-field>
     
      <button mat-raised-button (click)="addnewTweet()" color="primary">Insertar</button>
 </mat-card>

