<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title style="text-align: center">Register</mat-card-title>
    </mat-card-header>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Lastname" [(ngModel)]="lastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input  matInput placeholder="Handle" [(ngModel)]="handle">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="date" matInput placeholder="Birthdate" [(ngModel)]="birthdate">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input  matInput placeholder="Gender" [(ngModel)]="gender">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [(ngModel)]="pwd">
    </mat-form-field>
    <button (click)="registerUser()" mat-button color="primary">Register</button>
    <button [routerLink]="['home']" routerLinkActive="router-link-active" mat-button color="primary">Cancel</button>
  </mat-card>