
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar>
            <img mat-card-avatar src="https://picsum.photos/200/300/?random" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-title><b>@{{user?.handle}}</b></mat-card-title>
    </mat-card-header>
        <br>
        <mat-card-content>
            <mat-card-subtitle><b>Nombre:</b> {{user?.firstName}}</mat-card-subtitle>
            <mat-card-subtitle><b>Apellido:</b> {{user?.lastName}}</mat-card-subtitle>
            <mat-card-subtitle><b>Género:</b> {{user?.gender}}</mat-card-subtitle>
            <mat-card-subtitle><b>Fecha de nacimiento:</b> {{user?.birthdate}}</mat-card-subtitle>
            <mat-card-subtitle><b>Correo:</b> {{user?.email}}</mat-card-subtitle>            
        </mat-card-content>
        <mat-card-actions>
                <button mat-button>FOLLOW</button>
                <button mat-button>MESSAGE</button>
         </mat-card-actions>
         <mat-card-footer>
            <div *ngFor="let tweet of misTweets">
                <app-detalle-tweet [mySelectedTweet]="tweet"></app-detalle-tweet>
                <br>
            </div>
         </mat-card-footer>
        
    
</mat-card>
