<div class="example-button-row">
<div>{{ 'TITLE_APP' | translate }}</div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Twitter</span>
        <span class="menu-spacer"></span>
        <button mat-button (click)="menu.toggle()">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #menu mode="side" closed class="side-container">
        <img width="100%" height="100" alt="Twitter logo" 
        src="https://cdn1.incubaweb.com/wp-content/uploads/2016/05/twitter-banner.png">
        <button mat-button routerLink="/home">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">visibility</mat-icon>
            <span>Ver Tweets</span>
        </button>
        <button mat-button routerLink="/new-tweet">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">create</mat-icon>
            <span>Crear Tweet</span> 
        </button>
        <button mat-button  (click)="signOut()">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">power_settings_new</mat-icon>
            <span>Logout</span> 
        </button>
    </mat-sidenav>
    <mat-sidenav-content width="100%" height="100%">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>